# Dependencies
/node_modules
/frontend/node_modules
/backend/target

# Build files
/frontend/build

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Scripts
install_docker.ps1

# IDE files
.idea/
.vscode/

# OS files
.DS_Store

# Env 
.Env
.env 